:root{
    --background:#fbeaeb;
    --nav:#2f3c7e;
}

*{
    margin:0;
    padding:0;
}

body{
    background-color:var(--background);
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight:600;
}

/*nawigacja*/

.navbar{
    background-color: var(--nav);
    height:70px;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    z-index:10;
    display:flex;
    justify-content: flex-end;
}
ul{
    display:block;
    margin-block-start:1em;
    margin-block-end:1em;
    margin-inline-start:0px;
    margin-inline-end:0px;
    padding-inline-start:40px;
}

.nav-list{
    display:flex;
    margin-right:2rem;
    gap:30px;
    list-style: none;
    color:var(--background);
    font-size: 1.3rem;
}
.nav-link{
    cursor:pointer;
    transition: 0.5s;
}
.nav-link:after {
    content: '';
    position: absolute;
    opacity: 0;  
    top: 14px;
    transition: 0.5s;
  }
  .nav-link:hover{
    padding-top: 10px;
  }
  
  .nav-link:hover:after {
    opacity: 1;
  }

/*o mnie*/

.about{
    width:100%;
    height:630px;
    background:linear-gradient(
        45deg,
        rgb(255, 205, 226),
        rgb(182, 239, 255)
    );
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    display: flex;
    flex-direction: column;
    margin-top:70px;
}

#me{
    font-size:65px;
}
#about-p{
    font-size:30px;
    color:var(--nav);
}
/* Projekty*/
.projects{
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin:30px;
}

.project{
    width:350px;
    height:350px;
    justify-content: start;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--nav);
    margin:40px;
}
.project-img{
    margin-bottom:12px;
    width:350px;
    height:300px;
}
.project-desc{
    color:var(--background);
}

.project-a{
    text-decoration: none;
}

a{
    display:block;
    position:relative;
    padding:0.1em 0;
}

a::after{
    content:"";
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    height:0.1em;
    background-color:var(--background);
    opacity:0;
    transition: opacity 300ms, transform 300ms;
}

a:hover::after, a:focus::after{
    opacity:1;
    transform:translate3d(0, 0.1em, 0);
}

/* inside joke flipper*/
.dontainer-flip{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom:60px;
}
.flip-container{
    perspective: 1000px;
    width:300px;
    height:100px;
    position: relative;
    cursor: pointer;
}
.flipper{
    width:100%;
    height:100%;
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.front, .back{
    width:100%;
    height:100%;
    position:absolute;
    backface-visibility: hidden;
}

.front{
    background-color:#2f3c7e;
    display:flex;
    justify-content: center;
    align-items: center;
    transform:rotateY(0deg);
}

.back{
    background-color: #2f3c7e;
    display:flex;
    justify-content: center;
    align-items: center;
    transform:rotateY(180deg);
}

.flip-container:hover .flipper{
    transform:rotateY(180deg);
}
.inside-joke{
    color:var(--background);
    padding:20px;
    text-align: center;
}

/* contact */

.contact-header{
    font-size:30px;
    display: flex;
    justify-content: center;
    text-align: center;
    background-image:linear-gradient(
        45deg,
        rgb(249, 124, 176),
        rgb(61, 177, 209)
    );
    background-size:100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.contact-links{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:75px;
    height:300px;
    flex-direction: column;
    padding:50px 0 50px 0;
}

.contact-link{
    display:flex;
    justify-content: center;
    align-items: center;
    cursor:pointer;
    transition:transform 250ms;
    font-size:20px;
}

.contact-link:hover{
    transform:scale(115%);
}

.contact-icon{
    width:40px;
    padding:10px;
}

/* stopka*/

footer{
    height: 80px;
    background-color: var(--nav);
    justify-content: flex-start;
    align-items: center;
    display: flex;
    padding-left:20px;
    color:var(--background);
    font-size: 13px;
}